.header{
    padding: 20px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 999;
}
.mainLogo > a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.nav{
    width: 55vw;
}
.navigationLinks{
    justify-content: space-around;
    display: flex;
}
.a:hover{
    color: white;
    transition-duration: 0.8s;
}
.navigationLinks > a:last-child{
    border: 2px solid rgb(90 255 54);
    padding: 0 10px;
    border-radius: 20px;
}
.navigationLinks > a:last-child:hover{
    border-color: white;
}